server:
  port: 8080

spring:
  application:
    name: hsm-attestation-reference

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

logging:
  level:
    se.swish.hsm: DEBUG
